*{margin: 0; padding: 0;}

/* ================NAV================= */
nav {
    background: #c7c7c7;
    background: linear-gradient(90deg,rgba(199, 199, 199, 1) 0%, rgba(215, 215, 215, 1) 30%, rgba(255, 255, 255, 0) 100%);
    
    height: 60px;
    
    
}
nav div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 60%;
    gap:15%;
}
nav a.connect {
    background-color: #c1c0e4;
    text-decoration: none;
    color: black;
    padding: 4px 16px;
    position: absolute;
    margin-right: 5vw;
    right: 0px;
    top:5px;
    border-radius: 30px;
    border: #7673a4 4px solid;
    font-size: 1.8rem;
    
}

nav a.connect:hover {
    background-color: #6c63ff;
    color: white;
    border: #5a54c6 4px solid;
}
nav div.lien a , nav div.lien p {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 15px 0;
}
nav div.lien a:hover {
    color: #6c63ff;
    border-bottom: 2px solid #6c63ff;
}
nav p.name {
    position: absolute;
    right: 3vw;
    top: 10px;
    font-size: 2rem;
    font-weight: 800;
}
nav p.tune {
    position: absolute;
    right: 12vw;
    top: 13px;
    font-size: 1.8rem;
    font-weight: 800;
    
}
nav div.conn form {
    position: absolute;
    right: 2vw;
    top: 70px;
}
nav div.conn form button {
    background-color: #b0acff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 1.2rem;


}
nav div.conn form button:hover {
    background-color: #5a54c6;
    color: white;
    
}
/* ================HOME================= */
#text_acueille {
    margin-top: 10%;
}
.img {
    position: absolute;
    right: 0vw;
    top: 100px;
    width: 45%;
    

}
.img img {
    width: 80%;
    border-radius: 500px;
    border: #ffce97 4px solid;
    box-shadow: #616161 4px 4px 10px;
    
} 
/* ================404================= */
h1.A04 {
    font-size: 10rem;
}
h2.A04 {
    position: relative;
    font-size: 3rem;
}
p.deso {
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 1.5rem;
    
}
p.domage {
    position: absolute;
    right: 10vw;
    top: 20%;
    font-size: 8rem;
    font-weight: 800;
}
/* ================AUTH================= */
/* ===========LOGIN============ */
div.login {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    gap: 2%;
    background-color: #ffffff;
    box-shadow: #a3a3a3 4px 4px 10px;
    width: 40%;
    transform: translate(-50%);
    margin-top: 5%;
    padding: 20px 0;
    border-radius: 10px;
    
    
}
div.login h2 {
    font-size: 3rem;
   
}
div.login div.inputz {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    gap: 1%;
}
div.login div.inputz label {
    margin-bottom: 2%;

}
div.login div.inputz .form-label {
    font-size: 1.3rem;
}
div.login form {
    width: 90%;
}
div.login .form-control {
    
    font-size: 1.2rem;
    
    border-radius: 10px;
    border: #000000 1px solid;
    padding: 10px 12px;
}
div.login .btn {
    margin-top: 10%;
    width: 70%;
    font-size: 1.8rem;
    background-color: #0055ff;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 30px;
    cursor: pointer;
    transform: translate(-50%);
    position: relative;
    left: 50%;
}
div.login .btn:hover {
    background-color: #003fcc;
}





/* ===========REGISTER============ */
div.register {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    gap: 2%;
    background-color: #ffffff;
    box-shadow: #a3a3a3 4px 4px 10px;
    width: 40%;
    transform: translate(-50%);
    margin-top: 1%;
    padding: 20px 0;
    border-radius: 10px;
    
    
}
div.register h2 {
    font-size: 3rem;
   
}
div.register div.inputz {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    gap: 1%;
}
div.register div.inputz label {
    margin-bottom: 2%;

}
div.register div.inputz .form-label {
    font-size: 1.3rem;
}
div.register form {
    width: 90%;
}
div.register .form-control {
    
    font-size: 1.2rem;
    
    border-radius: 10px;
    border: #000000 1px solid;
    padding: 10px 12px;
}
div.register .btn {
    margin-top: 10%;
    width: 70%;
    font-size: 1.8rem;
    background-color: #0055ff;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 30px;
    cursor: pointer;
    transform: translate(-50%);
    position: relative;
    left: 50%;
}
div.register .btn:hover {
    background-color: #003fcc;
}





.stats-table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse; 
    border: 0.2px solid #1c2541;
    background-color: transparent;
    
    vertical-align: top;
}

.stats-table a {
    text-decoration: none;
    color: inherit; 
    display: block; 
    padding: 8px;
}

.stats-table tbody tr:hover {
    background-color: #f0f0f0; 
    cursor: pointer;
}
.stats-table th, 
.stats-table td {
    border-top: 0.2px solid #1c2541; 
    padding: 12px 15px;
    text-align: center;
    
}

.stats-table thead tr {
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    border: none;
}


h1.moulaga {
    text-align: center;
    margin-top: 5%;
    font-size: 8rem;
    font-weight: 800;
}