*{margin: 0; padding: 0;}

/* ================NAV================= */
nav {
    background: #c7c7c7;
    background: linear-gradient(90deg,rgba(199, 199, 199, 1) 0%, rgba(215, 215, 215, 1) 60%, rgba(255, 255, 255, 0) 100%);
    
    height: 60px;
    
}
nav div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    gap:15%;
}
nav a.connect {
    background-color: #c1c0e4;
    padding: 4px 16px;
    position: absolute;
    margin-right: 5vw;
    right: 0px;
    top:5px;
    border-radius: 30px;
    border: #7673a4 4px solid;
    font-size: 1.8rem;
    
}
nav a , nav p {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 15px 0;
}
nav div.lien a:hover {
    color: #6c63ff;
    border-bottom: 2px solid #6c63ff;
}
/* ================HOME================= */
#text_acueille {
    margin-top: 10%;
}
.img {
    position: absolute;
    right: 0px;
    top: 60px;
    width: 45%;

}
.img img {
    width: 100%;
} 
/* ================404================= */
h1.A04 {
    font-size: 10rem;
}
h2.A04 {
    position: relative;
    font-size: 3rem;
}
p.deso {
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 1.5rem;
    
}
p.domage {
    position: absolute;
    right: 10vw;
    top: 20%;
    font-size: 8rem;
    font-weight: 800;
}
/* ================AUTH================= */
div.login {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    gap: 2%;
    background-color: #ffffff;
    box-shadow: #a3a3a3 4px 4px 10px;
    width: 40%;
    transform: translate(-50% , 50%);
    padding: 20px 0;
}
div.login div.inputz {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    gap: 1%;
}
div.login form {
    width: 90%;
}
div.login .form-control {
    
    font-size: 1.2rem;
    
    border-radius: 5px;
    padding: 10px 12px;
}
div.login .btn {
    margin-top: 4%;
    width: 70%;
    font-size: 1.8rem;
    background-color: #0055ff;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 30px;
    cursor: pointer;
}