*{margin: 0; padding: 0;}

nav {
    background-color: #f7f6ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:15%;
    height: 60px;
    
}
nav a ,p {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 0;
}
nav a:hover {
    color: #6c63ff;
    border-bottom: 2px solid #6c63ff;
}