*{margin: 0; padding: 0;}

nav {
    background-color: #f7f6ff;
    justify-content: space-between;
    height: 60px;
    display: flex;
    flex-direction: row;
}
nav div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    gap:15%;
}
nav a.connect {
    text-align: right;
    margin-right: 5vw;
}
nav a , nav p {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 15px 0;
}
nav a:hover {
    color: #6c63ff;
    border-bottom: 2px solid #6c63ff;
}