*{margin: 0; padding: 0;}

nav {
    background-color: #f7f6ff;
    justify-content: space-between;
    height: 60px;
    display: flex;
    flex-direction: row;
}
nav div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    gap:15%;
}
nav a.connect {
    background-color: #6c63ff;
    padding: 1px 20px;
    text-align: right;
    margin-right: 5vw;
}
nav a , nav p {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 15px 0;
}
nav a:hover {
    color: #6c63ff;
    border-bottom: 2px solid #6c63ff;
}
#text_acueille {
    margin-top: 10%;
}
.img {
    position: absolute;
    right: 0px;
    top: 60px;
    width: 45%;

}
.img img {
    width: 100%;
} 
h1.A04 {
    font-size: 10rem;
}
h2.A04 {
    position: relative;
    font-size: 3rem;
}
p.deso {
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 1.5rem;
    
}
p.domage {
    position: absolute;
    right: 10vw;
    top: 20%;
    font-size: 8rem;
    font-weight: 800;
}